.Rproj.user
.Rhistory
.RData
.Ruserdata

# R Environment Variables
.Renviron

/.quarto/

# public dirs
_site/**
_site_sync/*

# external resource
01-class/slide-xaringan/**

# lecture resource
lecture/cache/**
lecture/assets/fontawesome-free-6.1.1-web/**
lecture/images/**

